:root {
  --orange: rgb(255, 165, 0);
  --black: rgb(13, 27, 42);
  --white: rgb(255, 255, 255);
  --blue: rgb(0, 0, 255);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* padding: 60px; */
  background-color: rgb(3 38 70);
}

.container {
  background: rgb(177, 185, 179);
  background: linear-gradient(90deg, rgba(177, 185, 179, 0.524422268907563) 0%, rgba(80, 75, 87, 0.4095763305322129) 10%, rgba(91, 89, 86, 1) 100%);
  padding: 30px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.header-name {
  font-weight: 600px;
  font-size: larger;
  color: var(--white);

}

.header-name::first-letter {
  color: var(--orange);
  font-size: 3rem;
}

.header-list {
  display: flex;
}

.header-list a {
  text-decoration: none;
}

.header-list li {
  list-style-type: none;
  margin: 16px 64px 16px 0px;
  color: var(--white);
  font-size: 1.5rem;
}

.header-btn button {
  background-color: var(--orange);
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.header-btn button:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* introduction code */
.introduction {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;

}

.intro-name {
  display: flex;
  flex-direction: column;

}

.intro-name>:nth-child(1) {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);

}

.intro-name>:nth-child(2) {
  font-size: 3rem;
  font-weight: 800px;
  color: var(--orange);
}

.intro-name>:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 400px;
  color: var(--white);
  margin-top: 30px;

}

.intro-icon i {
  font-size: 30px;
  margin-top: 20px;
  color: var(--orange);
  margin: 30px 10px;
}

.intro-details p {
  color: var(--white);

}

.intro-details>:nth-child(1) {
  margin: 10px 0px 10px 0px;
}

.intro-details>:nth-child(3) {
  margin-top: 20px;

}

.intro-details>:nth-child(4) {
  margin-top: 10px;
}

.intro-details strong {
  color: var(--orange);
}

.computer-img1{
  background-image: url(image/computer-image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;  
}

/* skills code */
.skills-heading {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;


}

.skills-heading h2 {
  color: var(--white);
  font-size: 3rem;
  border-bottom: 5px solid var(--orange);
  border-radius: 50%;
  outline: none;

}

.skills-heading h2::first-letter {
  color: var(--orange);
  font-size: 5rem;

}

.skills-icon-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;

}

.skills-icon-container img {
  width: 80px;
  padding-top: 25px;
}

.skills-img-icon {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(177, 185, 179, 0.524422268907563) 0%, rgba(80, 75, 87, 0.4095763305322129) 10%, rgba(91, 89, 86, 1) 100%);

}

.skills-img-icon:hover {
  border-radius: 5%;
  background-color: var(--orange);

}

/* project code */

#project-full-container {
  display: inline-flex;
  padding-top: 30px;
}

.project-heading h2 {
  color: var(--white);
  font-size: 3rem;
  border-bottom: 5px solid var(--orange);
  margin-left: 100px;
  border-radius: 50%;
  outline: none;
}

.project-heading h2::first-letter {
  color: var(--orange);
  font-size: 5rem;
}


.project-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding-top: 30px;
  padding: 30px;
  gap: 8%;

}

.project-project-box {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-left: 50%;
  background: rgb(177, 185, 179);
  background: linear-gradient(90deg, rgba(177, 185, 179, 0.524422268907563) 0%, rgba(80, 75, 87, 0.4095763305322129) 10%, rgba(91, 89, 86, 1) 100%);

}

.project1-img,
.project2-img,
.project3-img,
.project4-img {
  background-image: url(image/notesapp-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 140px;
  margin: 10px;
}

.project2-img {
  background-image: url(image/notesapp-img.png);

}

.project3-img {
  background-image: url(image/notesapp-img.png);

}

.project4-img {
  background-image: url(image/notesapp-img.png);

} 

.project-project-box:hover {
  transform: scale(1.1);

} 

.project-project-box h3 {
  color: var(--orange);
  padding: 10px;
  font-size: 20px;
}

.project-project-box p {
  color: var(--white);
  padding: 10px;

}

.project-container button {
  margin: 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-weight: bold;
  background-color: var(--orange);
}

.project-container button:hover {
  transform: scale(1.1);
}


/* form code */
.form-container {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;

}

.form-right-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.form-input {
  padding: 10px;
  width: 35vw;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--white);

}

.form-input::placeholder {
  color: var(--orange);
  font-weight: bold;
  font-size: 18px;

}

.form-left-div h2 {
  color: var(--white);
  font-size: 3rem;
  padding-top: 30px;
  border-bottom: 5px solid var(--orange);
  border-radius: 50%;
  padding-bottom: 10px;
  outline: none;
}

.form-left-div h2::first-letter {
  color: var(--orange);
  font-size: 5rem;
}

.form-right-div textarea {
  height: 50px;
}

input[type="submit"] {
  background-color: var(--orange);
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  border: none;
}

input[type="submit"]:hover {
  background-color: rgb(190, 126, 6);

}

input[type="submit"]:active {
  background-color: green;
}


footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
  border-radius: 10px;
}

.footer-email span {
  color: var(--orange);
  font-size: 1.5rem;
}

.keyframe-div {
  display: none;
}

/* -------responsive----------- */

@media only screen and (max-width: 600px) {

  .computer-img {
    display: none;
  }

  .center-div {
    display: none;
  }


  /* --------skills----------------- */
  .skills-icon-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .skills-img-icon {
    border-radius: 0px;
    margin-top: 10px;
    width: 300px;
    height: 200px;
  }

  /* ---------project---------------- */
  .project-heading {
    width: 300px;
  }

  #project-full-container {
    display: block;
  }

  .project-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  .project-project-box {
    margin-left: 10%;
  }

  /* --------form------------ */

  .form-container {
    display: block;
    justify-content: center;
  }

  .form-right-div {
    align-items: center;
  }

  .form-input {
    width: 60vw;
  }

  .form-left-div h2 {
    width: 40vw;
    margin-bottom: 25px;
    font-size: larger;
  }

  .form-left-div h2 {
    margin-left: 20%;

  }

  .keyframe-div {
    display: block;
    width: 100px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    animation: webDeveloper 5s infinite;
    opacity: 0.7;
  }

  .keyframe-div h2 {
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
  }

  .keyframe-div h2:first-letter {
    color: orange;
    font-size: 3rem;
  }

  @keyframes webDeveloper {
    0% {
      top: 0px;
      left: 0px;
    }

    50% {
      top: 0px;
      left: 280px;
    }

    100% {
      top: 0px;
      left: 0px;
    }
  }

}